header {
    height: 45px;
    background-color: white;
}

main{
    padding-top: 60px;
}

footer p, main {
    text-align: left;
}
h1 {
    font-size: 12px;
    color: black!important;
}
.logo {
    width: 150px!important;
}

.link a{
    color: grey;
    text-decoration: none;
}

.link a:hover{
    color: #36B57F;
    text-decoration: none;
}

.lmska {
    color: #36B57F!important;
}

.btn-lmska {
    color: white!important;
    background-color: #36B57F!important;
}